.circle-bill-graph {
  width: 400px;
  height: 400px;
}

.circle-bill-graph {
  -webkit-animation: rotate-frame .8s ease-in-out;
          animation: rotate-frame .8s ease-in-out;
}

@-webkit-keyframes rotate-frame {
  25% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
